<h2>Editing "<%= @post.title %>"</h2>

<%= form_tag post_path(@post), method: "patch" do %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h3>There were some errors: </h3>
      <ul>
        <% @post.errors.full_messages do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @post.errors[:title].empty? %>
    <div class="field">
  <% end %>


<% end %>
